@font-face {
  font-family: "b-narm",
  src: url("../public/assets/fonts/b-narm.ttf") format("truetype")
}

@font-face {
  font-family: "droid-sans-arabic",
  src: url("../public/assets/fonts/droid-sans-arabic.ttf") format("truetype")
}
